.user-infobox {
    margin: 100px auto 0px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
    width: 70%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    & img {
        width: 200px;
        height: 200px;
        border-radius: 5px;
        margin: 0;
    }

    &__infos {
        padding: 5px;
        padding-left: 15px;

        & h3 {
            margin: 10px 0;
        }

        & h4 {
            margin: 5px 0;
        }
    }

    & p {
        padding: 0;
    }
}

//---------- MOBILE ----------

@media (max-width: 700px) {
    .user-infobox {
        font-size: 0.7em;
        width: 98%;

        &__description {
            overflow: scroll;
            text-overflow: ellipsis;
            border: 1px solid rgb(221, 221, 221);
            max-height: 200px;
        }
    }
}