footer {
    margin-top: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 80px;
    background-color: rgb(67, 102, 148);
    padding: 20px;

    & img {
        width: 150px;
        margin: 0;
        padding: 0;
    }

    & p {
        color: #fff;
        font-size: 0.8em;
    }
}